.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: max(1vh, auto);
  justify-content: start;

  padding: 20px; /* Add padding for spacing */
  gap: 20px; /* Add gap between child elements */
}

.section2 {
  display: flex;
  width: 60rem;
  justify-content: space-around;
}
.bookform {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.section2 div {
  font-size: x-large;
  display: flex;
}

.section3 {
  display: flex;
  justify-content: center;
}
.section4 {
  border-collapse: collapse;
  width: 70%; /* Optional: Adjust the width as needed */
}

/* Apply border to all cells */
.section4 th,
.section4 td {
  border: 1px solid #ddd; /* Adjust border properties as needed */
  padding: 10px; /* Optional: Adjust padding as needed */
  text-align: left; /* Optional: Adjust text alignment as needed */
}

/* Apply border to the header cells */
.section4 th {
  background-color: #f2f2f2; /* Optional: Adjust background color as needed */
}
.section4 tbody {
  height: 10rem; /* Set a fixed height for the tbody */
}
.submit-button {
  height: 40px;
  width: 105px;
  border: none;
  border-radius: 15px;
  font-weight: 500;
  font-size: large;
  color: white; /* White text color */
  transition: transform 0.5s ease;
  background-color: #007bff; /* Blue */
}

.submit-button:hover {
  transform: scale(1.1);
}

.title,
.author,
.pages,
.read {
  display: flex;
  gap: 10px;
}

.section1 {
  font-size: xxx-large;
  font-weight: bolder;
}

input {
  border-radius: 10px;
  background-color: #fff; /* White background color */
  border: none;
  outline: none;
  border: 1px solid #ced4da;
}
.main_container {
  background-color: #f8f9fa; /* Light grey */
  min-height: 100vh;
  margin: 0;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

th {
  font-size: 1.3em;
}

tr {
  font-size: 1.2em;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.delete-button {
  background-color: #f44336; /* Red */
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #d32f2f; /* Darker red on hover */
}

/* Add blue color to the read button */
.read-button {
  background-color: #2196f3; /* Blue */
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;

  transition: background-color 0.3s;
}

.read-button:hover {
  background-color: #0d8bf0; /* Darker blue on hover */
}
/* Apply margin to the first tr element in tbody */
.section4 tbody tr:first-child {
  margin-top: 10px; /* Adjust the top margin as needed */
}
